<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% load static %}
          <img src="{% static 'signupico.png' %}" width="30px" height="30px" > <br>
          <button type="button" class="btn btn-link"><a href="{% url 'exam:studentSignUp' %}"><b>Sign up as student</b></a></button>
          <button type="button" class="btn btn-link"><a href="{% url 'exam:instructorSignUp' %}"><b>Sign up as instructor</b></a></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>